<div *ngIf="isConnected"
  class=" chat-container h-[85vh] flex flex-col dark:text-white dark:bg-gray-900 bg-slate-200 from-indigo-500 via-purple-500 to-blue-500">
  <!-- Chat Header -->
  <div class="chat-header bg-gradient-to-r from-blue-600 to-indigo-600 text-white p-4 shadow-lg">
    <h2 class="text-lg ">Bonjour, comment puis-je vous aider ?</h2>
  </div>

  <!-- Chat Box -->
  <div class="chat-box flex-1 overflow-y-auto p-6 space-y-4 h-96" #chatContainer>
    <div *ngFor="let item of data; let i = index" class="chat-message" [class.user]="item.sender === 'user'">
      <!-- User Message -->
      <div class="ps-[20%]">
        <div
          class="message user-message bg-gradient-to-r from-blue-500 to-purple-500 text-white p-4 rounded-3xl shadow-lg w-fit ml-auto">
          <p class="text-sm">{{ item.message }}</p>
        </div>
      </div>

      <!-- Bot Message -->
      <br>
      <div class="pe-[20%]">
        <div class="message bot-message bg-gray-100 text-gray-800 p-4 rounded-3xl shadow-lg w-fit">
          <p class="text-sm">{{ item.response }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Chat Input -->
  <div class="chat-input-container bg-white flex items-center p-4 border-t shadow-md">
    <input type="text" placeholder="Écrivez votre message ici..." [(ngModel)]="message"
      class="chat-input flex-1 p-3 border-2 border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-indigo-500 transition"
      (keyup.enter)="sendMessage()" />
    <!-- Spinner -->
    <div *ngIf="isLoading" class="spinner-container ml-4">
      <div class="spinner border-4 border-indigo-500 border-t-transparent rounded-full w-6 h-6 animate-spin"></div>
    </div>
    <!-- Send Button -->
    <button
      class="send-button ml-4 bg-gradient-to-r from-blue-600 to-purple-600 text-white px-6 py-3 rounded-full shadow-lg hover:from-blue-700 hover:to-purple-700 flex items-center transition"
      (click)="sendMessage(); generateResponse()">
      <span>Envoyer</span>
      <i class="ml-2 zmdi zmdi-mail-send"></i>

    </button>


    <!-- Bouton d'enregistrement -->
    <button *ngIf="!isRecording" class="ml-4 bg-gradient-to-r text-white px-6 py-3 rounded-full shadow-lg"
      (click)="startRecording()">
      🎤 
    </button>

    <!-- Bouton d'arrêt -->
    <button *ngIf="isRecording" class="ml-4 bg-red-500 text-white px-6 py-3 rounded-full shadow-lg"
      (click)="stopRecording()">
      ⏹️
    </button>

  </div>
</div>
<div *ngIf="!isSigin">
  <div *ngIf="!isConnected" class="flex justify-center items-center h-[100vh] w-full dark:bg-gray-900">
    <div class="max-w-[600px] w-full mx-auto my-auto px-2">
      <h2 class="text-3xl my-2 text-center mb-2 dark:text-white">Connexion</h2>
      <div class="flex flex-col gap-4">
        <input class="p-2 border-[1px] border-[#c3c3c3] rounded-none focus:border-[#c3c3c3]" type="text" placeholder="Email" [(ngModel)]="email" />
        <input class="p-2 border-[1px] border-[#c3c3c3] rounded-none focus:border-[#c3c3c3]" type="password" placeholder="Mot de passe" [(ngModel)]="password" />
        <div class="flex justify-center">
          <button (click)="login()" class="w-fit send-button ml-4 bg-gradient-to-r from-blue-600 to-purple-600 text-white px-6 py-3 rounded-full shadow-lg hover:from-blue-700 hover:to-purple-700 flex items-center transition">Se connecter</button>
        </div>
        <p (click)="onSigin()" class="underline cursor-pointer dark:text-white">S'inscrire</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSigin">
  <div *ngIf="!isConnected" class="flex justify-center items-center h-[100vh] w-full dark:bg-gray-900">
    <div class="max-w-[600px] w-full mx-auto my-auto px-2">
      <h2 class="text-3xl my-2 text-center mb-2 dark:text-white">Inscription</h2>
      <div class="flex flex-col gap-4">
        <input class="p-2 border-[1px] border-[#c3c3c3] rounded-none focus:border-[#c3c3c3]" type="text" placeholder="Nom d'utilisateur" [(ngModel)]="username" />
        <input class="p-2 border-[1px] border-[#c3c3c3] rounded-none focus:border-[#c3c3c3]" type="text" placeholder="Email" [(ngModel)]="email" />
        <input class="p-2 border-[1px] border-[#c3c3c3] rounded-none focus:border-[#c3c3c3]" type="password" placeholder="Mot de passe" [(ngModel)]="password" />
        <div class="flex justify-center">
          <button (click)="sigin()" class="w-fit send-button ml-4 bg-gradient-to-r from-blue-600 to-purple-600 text-white px-6 py-3 rounded-full shadow-lg hover:from-blue-700 hover:to-purple-700 flex items-center transition">S'inscrire</button>
        </div>
        <p (click)="onSigin()" class="underline cursor-pointer dark:text-white">Se connecter</p>
      </div>
    </div>
  </div>
</div>