<nav class="bg-gray-900 shadow-md">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      
      <!-- Logo -->
      <div class="flex items-center">
        <img class="h-10 w-auto" src="/img/unnamed.jpg" alt="Logo">
      </div>

      <!-- Desktop Menu -->
      <div class="hidden sm:flex space-x-6">
        <p class="text-white font-medium hover:text-gray-300 transition">
          Ministère de l'Economie et des Finances
        </p>
      </div>

      <!-- Right Section -->
      <div class="flex items-center space-x-4">
        
        <!-- Notifications Button -->
        <button (click)="toggleDarkMode()" class="p-2 rounded-md text-gray-400 dark:text-gray-300 hover:text-white text-2xl">
          <fa-icon [icon]="isDarkMode ? faMoon : faSun"></fa-icon>
        </button>

        <!-- Profile dropdown -->
        <button *ngIf="isConnected" (click)="logout()" type="button" class="send-button ml-4 bg-gradient-to-r from-blue-600 to-purple-600 text-white px-6 py-3 rounded-full shadow-lg hover:from-blue-700 hover:to-purple-700 flex items-center transition">
          Deconnexion
        </button>

      </div>

      <!-- Mobile Menu Button -->
      <button (click)="toggleMobileMenu()" class="sm:hidden text-gray-400 hover:text-white p-2 rounded-md">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMobileMenuOpen" class="sm:hidden bg-gray-800">
    <div class="space-y-2 px-4 py-3">
      <a href="#" class="block text-white hover:text-gray-300">Dashboard</a>
      <a href="#" class="block text-gray-300 hover:text-white">Team</a>
      <a href="#" class="block text-gray-300 hover:text-white">Historique</a>
    </div>
  </div>
</nav>



